.check-out label {
  display: inline-block; }

.check-out input[type=email], .check-out input[type=password], .check-out input[type=tel], .check-out input[type=text] {
  height: auto !important; }

.check-out .form-control-sm, .check-out .input-group-sm > .form-control, .check-out .input-group-sm > .input-group-append > .btn, .check-out .input-group-sm > .input-group-append > .input-group-text, .check-out .input-group-sm > .input-group-prepend > .btn, .check-out .input-group-sm > .input-group-prepend > .input-group-text {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  height: auto !important; }

.check-out .form-control {
  padding: 0.375rem 0.75rem !important; }

@media only screen and (max-width: 480px) {
  .hidden__xs {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .hidden__sm {
    display: none !important; } }

@media only screen and (max-width: 1024px) {
  .hidden__md {
    display: none !important; } }

@media only screen and (max-width: 1200px) {
  .hidden__lg {
    display: none !important; } }

@media only screen and (max-width: 480px) {
  .show__xs {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .show__sm {
    display: block !important; } }

@media only screen and (max-width: 1024px) {
  .show__md {
    display: block !important; } }

@media only screen and (max-width: 1200px) {
  .show__lg {
    display: block !important; } }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.mt-5 {
  margin-top: 50px !important; }

.mt-4 {
  margin-top: 40px !important; }

.mt-3 {
  margin-top: 30px !important; }

.mt-2 {
  margin-top: 20px !important; }

.mt-1 {
  margin-top: 10px !important; }

.mr-5 {
  margin-right: 50px !important; }

.mr-4 {
  margin-right: 40px !important; }

.mr-3 {
  margin-right: 30px !important; }

.mr-2 {
  margin-right: 20px !important; }

.mr-1 {
  margin-right: 10px !important; }

.mb-5 {
  margin-bottom: 50px !important; }

.mb-4 {
  margin-bottom: 40px !important; }

.mb-3 {
  margin-bottom: 30px !important; }

.mb-2 {
  margin-bottom: 20px !important; }

.mb-1 {
  margin-bottom: 10px !important; }

.ml-5 {
  margin-left: 50px !important; }

.ml-4 {
  margin-left: 40px !important; }

.ml-3 {
  margin-left: 30px !important; }

.ml-2 {
  margin-left: 20px !important; }

.ml-1 {
  margin-left: 10px !important; }

.pt-5 {
  padding-top: 50px !important; }

.pt-4 {
  padding-top: 40px !important; }

.pt-3 {
  padding-top: 30px !important; }

.pt-2 {
  padding-top: 20px !important; }

.pt-1 {
  padding-top: 10px !important; }

.pr-5 {
  padding-right: 50px !important; }

.pr-4 {
  padding-right: 40px !important; }

.pr-3 {
  padding-right: 30px !important; }

.pr-2 {
  padding-right: 20px !important; }

.pr-1 {
  padding-right: 10px !important; }

.pb-5 {
  padding-bottom: 50px !important; }

.pb-4 {
  padding-bottom: 40px !important; }

.pb-3 {
  padding-bottom: 30px !important; }

.pb-2 {
  padding-bottom: 20px !important; }

.pb-1 {
  padding-bottom: 10px !important; }

.pl-5 {
  padding-left: 50px !important; }

.pl-4 {
  padding-left: 40px !important; }

.pl-3 {
  padding-left: 30px !important; }

.pl-2 {
  padding-left: 20px !important; }

.pl-1 {
  padding-left: 10px !important; }

.incrementer__qty {
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0); }

.navigation.main .nav-dropdown .nav-dropdown-side > ul li {
  margin-bottom: 0; }

.add-to-cart {
  padding: 0; }

.add-to-cart__text {
  height: 100%;
  line-height: 34px; }

.catalog-header {
  float: none; }

.incrementer__content:after {
  display: block;
  content: '';
  clear: both; }

.incrementer__content .incrementer__button {
  float: left; }

.icon-trash-can {
  opacity: 0;
  top: 40px; }

.icon-trash-can--active {
  opacity: 1;
  top: 0; }

.block-row .slider__item {
  width: 25%; }

@media only screen and (max-width: 480px) {
  .block-row .slider__items {
    display: block; }
  .block-row .slider__items .slider__item {
    width: 100%;
    margin-top: 20px; } }

.tab-content > .active {
  opacity: 1; }

.row {
  max-width: none;
  margin-left: -15px;
  margin-right: -15px; }

.row .row {
  margin-left: -15px;
  margin-right: -15px; }

@media only screen and (max-width: 767px) {
  .product-page__articles .slider__items {
    display: block; } }

.product-page__articles .slider__item {
  width: 33.333%; }

@media only screen and (max-width: 767px) {
  .product-page__articles .slider__item {
    width: 100%; } }

@media only screen and (max-width: 1024px) {
  .product-page__articles .slider--articles {
    padding: 0 10px; } }

.header.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-animation: dropIn .3s forwards;
  animation: dropIn .3s forwards; }

.hero-holder .product-info {
  max-height: none; }

.hero-holder .product-price {
  margin-bottom: 0; }

.hero-holder .product-price:after {
  height: 0; }

.navigation.main.desktop .nav-dropdown .nav-dropdown-side > ul > li > ul {
  padding-left: 0; }

.navigation.main.desktop .nav-dropdown.hover .nav-dropdown-side > ul > li > ul {
  padding-left: 60px; }

.navigation.main.mobile, .navigation.main.mobile .parent > .nav-dropdown > ul, .navigation.main.mobile .parent > ul {
  height: 100vh; }

@media only screen and (max-width: 767px) {
  .navigation-overlay, .minicart .minicart-dropdown {
    height: 100vh; } }

.header.sticky .header-promo-inline, .header.sticky .header-promos, .header.sticky .header-top-center:after, .header.sticky .header-top-left, .header.sticky .header-top-right {
  display: none; }

@-webkit-keyframes dropout {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes dropout {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes dropIn {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

@keyframes dropIn {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }

.content {
  padding-top: 20px;
  padding-bottom: 40px; }

@media only screen and (max-width: 1024px) {
  .header.sticky {
    padding: 0 15px; } }

@media only screen and (max-width: 1024px) {
  .slider__arrow--next {
    right: 0; } }

.carousel-products-custom {
  overflow: visible; }

.navigation.main .nav-dropdown .nav-dropdown-side, .navigation.main.desktop .nav-dropdown .nav-dropdown-side {
  max-height: none; }

.navigation.main > ul > li {
  margin: 0; }

footer .footer-decor.angles-row {
  height: 10px;
  background: url(../images/footer-decor-triangle.svg) 0 top repeat-x; }

.minicart .minicart-dropdown.active {
  visibility: visible;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.navigation.main.desktop .nav-dropdown.nav-shop.hover {
  right: auto; }

.swiper-button-next, .swiper-button-prev {
  background-image: none; }

.slider--product-slider .slider__item {
  padding: 0; }

.navigation.main.desktop > ul > li.hover .nav-dropdown {
  display: block; }

.main-block {
  margin-bottom: 40px; }

@media only screen and (max-width: 480px) {
  .main-block {
    margin-bottom: 20px; } }

.main-block:last-child {
  margin-bottom: 0px; }

.slider__items {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.opacity0 {
  opacity: 0; }

.icon-social span {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #2894bc;
  margin-right: 0.77vw;
  display: inline-block;
  border-radius: 30px;
  text-align: center; }

@media print {
  .br-theme-bootstrap-stars .br-widget a:after {
    content: '\e007';
    color: black; }
  .br-theme-bootstrap-stars .br-widget a.br-active:after, .br-theme-bootstrap-stars .br-widget a.br-selected:after {
    content: '\e006';
    color: black; } }

.typoraphy .icon-mail {
  font-size: 15px; }

body {
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 400; }

@media only screen and (max-width: 767px) {
  body {
    font-size: 10px; } }

@media only screen and (max-width: 480px) {
  body {
    font-size: 10px; } }

article {
  overflow: hidden; }

blockquote {
  font-size: 13px; }

label {
  font-weight: 400; }

table {
  width: 100%; }

p {
  margin: 0; }

.content li > ul, .content li > ol {
  margin-left: 20px; }

ul {
  list-style: none; }

.icon-mail {
  font-size: 110px;
  color: #fff; }

.font--default {
  font-family: "Roboto"; }

.font--title {
  font-family: "Roboto"; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Roboto";
  line-height: 150%;
  font-weight: 700; }

h6 {
  font-size: 13px; }

@media only screen and (max-width: 767px) {
  h6 {
    font-size: 10px; } }

h5 {
  font-size: 13px; }

@media only screen and (max-width: 767px) {
  h5 {
    font-size: 10px; } }

h4 {
  font-size: 15px; }

@media only screen and (max-width: 767px) {
  h4 {
    font-size: 15px; } }

h3 {
  font-size: 16px; }

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 20px; } }

h2 {
  font-size: 18px; }

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 20px; } }

h1 {
  margin-bottom: 10px;
  font-size: 44px; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; } }

a {
  color: #000; }

a:hover {
  color: #000;
  text-decoration: none; }

.fa-1 {
  font-size: 12px; }

@media only screen and (max-width: 767px) {
  .fa-1 {
    font-size: 10px; } }

.fa-2 {
  font-size: 15px; }

@media only screen and (max-width: 767px) {
  .fa-2 {
    font-size: 15px; } }

.fa-3 {
  font-size: 16px; }

@media only screen and (max-width: 767px) {
  .fa-3 {
    font-size: 20px; } }

.fa-4 {
  font-size: 18px; }

@media only screen and (max-width: 767px) {
  .fa-4 {
    font-size: 20px; } }

.fa-5 {
  font-size: 44px; }

@media only screen and (max-width: 767px) {
  .fa-5 {
    font-size: 30px; } }

.fa-24 {
  font-size: 1.846153846153846vw;
  line-height: 2.769230769230769vw; }

@media only screen and (max-width: 767px) {
  .fa-24 {
    font-size: 20px;
    line-height: 30px; } }

.w-100 {
  font-weight: 100; }

.w-200 {
  font-weight: 200; }

.w-300 {
  font-weight: 300; }

.w-400 {
  font-weight: 400; }

.w-500 {
  font-weight: 500; }

.w-600 {
  font-weight: 600; }

.w-600 {
  font-weight: 600; }

.w-700 {
  font-weight: 700; }

.w-700 {
  font-weight: 700; }

.w-bold {
  font-weight: bold; }

.text-center {
  text-align: center !important; }

@media only screen and (max-width: 480px) {
  .text-center--xs {
    text-align: center !important; } }

@media only screen and (max-width: 767px) {
  .text-center--sm {
    text-align: center !important; } }

@media only screen and (max-width: 1024px) {
  .text-center--md {
    text-align: center !important; } }

.text-right {
  text-align: right !important; }

@media only screen and (max-width: 480px) {
  .text-right--xs {
    text-align: right !important; } }

@media only screen and (max-width: 767px) {
  .text-right--sm {
    text-align: right !important; } }

@media only screen and (max-width: 1024px) {
  .text-right--md {
    text-align: right !important; } }

.text-left {
  text-align: left !important; }

@media only screen and (max-width: 480px) {
  .text-left--xs {
    text-align: left !important; } }

@media only screen and (max-width: 767px) {
  .text-left--sm {
    text-align: left !important; } }

@media only screen and (max-width: 1024px) {
  .text-left--md {
    text-align: left !important; } }

.add-bgcolor--white {
  background-color: #fff; }

.add-bgcolor--primary {
  background-color: #041620; }

.add-bgcolor--secondary {
  background-color: #2894bc; }

.add-bgcolor--danger {
  background-color: #d30032; }

.add-bgcolor--default {
  background-color: #707070; }

.add-bgcolor--yellow {
  background-color: #ffd800; }

.add-bgcolor--thumbnail {
  background-color: #f9f9f9; }

.add-color--primary {
  color: #041620; }

.add-color--secondary {
  color: #2894bc; }

.add-color--white {
  color: #fff; }

.add-color--danger {
  color: #d30032; }

.add-color--default {
  color: #707070; }

.add-color--yellow {
  color: #ffd800; }

.add-color--gray {
  color: #d7d7d7; }

.wapper-heading {
  margin-bottom: 10px; }

.wapper-heading h1:after {
  content: "";
  width: 80%;
  height: 5px;
  border-radius: 3px;
  background-color: gray;
  display: block;
  margin: 0 auto; }

.add-to-favorites__button.active .icon-favorite__active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3;
  transition: all 0.3; }

.add-to-favorites__button.active .icon-favorite__inactive {
  display: none; }

.banner-about-us .banner-inner {
  height: 100%; }

.banner-about-us .caption-inner {
  width: 41.666667%;
  text-align: center; }

.banner-about-us .col-sm-5 {
  padding-right: 0; }

@media only screen and (max-width: 1024px) {
  .banner-about-us .col-sm-5 {
    padding-right: 15px; } }

.banner-about-us .col-sm-7 {
  padding-left: 0; }

@media only screen and (max-width: 1024px) {
  .banner-about-us .col-sm-7 {
    padding-left: 15px; } }

.our-brand__item h6 {
  display: block;
  margin: 10px 0; }

.vision__block {
  padding: 30px 0; }

.vision__block:last-child {
  padding-bottom: 0; }

.vision__block:first-child {
  padding-top: 0; }

.vision__block .col-sm-3, .vision__block .col-sm-5 {
  padding: 0; }

.vision__content--desc {
  padding: 15px 0; }

.vision__content--img {
  padding: 25px 0; }

.title-underline--small {
  display: inline-block;
  border-bottom: 1px solid 5px; }

.vision__desc {
  background-color: #dfdfdf;
  padding: 55px 120px 80px 145px; }

.banner-inner {
  position: relative; }

section.wapper-map {
  background-color: #F2F2F2; }

section.wapper-map:before {
  display: none; }

.title-underline {
  border-bottom: 1px solid gray;
  margin-bottom: 5px; }

.btn-submit {
  display: block;
  width: 100%; }

.contact-from {
  background-color: #F2F2F2; }

.contact-from h4, .contact-from h3 {
  display: block; }

.contact-from li {
  font-size: 13px;
  margin-bottom: 5px; }

.contact-form__left .form-group {
  margin-bottom: 0; }

.contact-form__left textarea.form-control {
  margin-bottom: 0; }

.contact-form__left textarea, .contact-form__left input {
  border: none;
  border-radius: .25rem; }

.contact-form__right {
  border-radius: 5px;
  background-color: white;
  padding: 10px 20px 0 20px; }

.contact-form__right ul {
  margin: 0; }

.block-filter-heading {
  display: block;
  padding-top: 15px;
  position: relative; }

.block-filter-heading .icon-arrow-filter {
  position: absolute;
  top: 15px;
  right: 5px; }

.block-filter-heading .icon-arrow-filter .rotate {
  display: block;
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.incrementer {
  z-index: 1;
  display: none;
  height: 34px;
  width: 118px; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.incrementer.active {
  display: block;
  -webkit-animation: addToCartValue 0.5s;
  animation: addToCartValue 0.5s; }

.add-to-cart__value {
  margin-bottom: 0;
  height: 34px;
  text-align: center; }

.incrementer__content .incrementer__button {
  padding: 0;
  width: 30%;
  height: 100%;
  text-align: center; }

.incrementer__button-icon:before {
  opacity: 1; }

@-webkit-keyframes addToCartValue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes addToCartValue {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.incrementer__qty {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: static;
  width: 40%;
  float: left;
  -webkit-transform: none;
  transform: none;
  height: 34px;
  opacity: 1; }

.specifications__content {
  border-bottom: 1px dashed gray;
  padding: 10px 0;
  max-height: 250px; }

.specifications__content .checkbox {
  padding: 5px 0; }

.specifications__content .checkbox input {
  margin: 0; }

.wapper-gird {
  padding: 0 15px; }

.product-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }

.product-slider .product-slider__item {
  width: 100%;
  background-size: cover;
  min-height: 600px;
  background-repeat: no-repeat; }

.product {
  position: relative; }

.product__image {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.product__details {
  z-index: 2; }

.product__actions {
  background: transparent; }

.swiper-pagination-bullet {
  z-index: 999;
  cursor: pointer; }

#tm-layout-container .medium-9.columns {
  padding: 0 30px; }

.nav-tab--products {
  margin: 0; }

.nav-tab--products li {
  width: 25%; }

.nav-tab--products li a {
  border: 1px solid;
  width: 100%;
  height: 180px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .carousel-item, .carousel-fade .carousel-inner .active.carousel-item-left, .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0; }

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left, .carousel-fade .carousel-inner .carousel-item-rev.carousel-item-right {
  opacity: 1; }

.carousel-fade .carousel-inner .carousel-item-next, .carousel-fade .carousel-inner .carousel-item-prev, .carousel-fade .carousel-inner .active.carousel-item-left, .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

.pagination-slider {
  background-color: white;
  border-radius: 15px;
  display: inline-block;
  padding: 0 20px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0); }

.pagination-slider .carousel-indicators {
  position: static;
  display: inline-block;
  margin: 0 30px; }

.pagination-slider .carousel-indicators li {
  width: 10px;
  height: 10px;
  border: 1px solid #00c990;
  border-radius: 50%;
  background: white;
  display: inline-block;
  vertical-align: middle; }

.pagination-slider .carousel-indicators .active {
  background: #00c990; }

.pagination-slider .carousel-control-next, .pagination-slider .carousel-control-prev {
  position: static;
  height: auto;
  width: auto;
  display: inline-block; }

.pagination-slider span.ion-arrow-left-b, .pagination-slider span.ion-arrow-right-b {
  color: #00c990;
  font-size: 18px;
  vertical-align: middle; }

.box-image {
  position: relative;
  margin-top: 30px; }

.caption-inner {
  position: absolute;
  z-index: 2;
  color: white;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%); }

.banner-small .thumbnail-rounded img {
  height: 270px; }

.banner-high .thumbnail-rounded img {
  height: 570px; }

.thumbnail-rounded img {
  border-radius: 10px;
  width: 100%;
  height: 300px; }

.vision {
  padding: 80px 0; }

.meet-our-team {
  padding: 40px 0 80px 0 !important;
  background-color: #dfdfdf;
  margin-top: 90px; }

.meet-our-team__desc {
  padding-top: 100px;
  padding-left: 110px; }

.our-brand {
  padding-bottom: 70px; }

.check-out label {
  display: inline-block; }

.check-out input[type=email], .check-out input[type=password], .check-out input[type=tel], .check-out input[type=text] {
  height: auto !important; }

.check-out .form-control-sm, .check-out .input-group-sm > .form-control, .check-out .input-group-sm > .input-group-append > .btn, .check-out .input-group-sm > .input-group-append > .input-group-text, .check-out .input-group-sm > .input-group-prepend > .btn, .check-out .input-group-sm > .input-group-prepend > .input-group-text {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  height: auto !important; }

.check-out .form-control {
  padding: 0.375rem 0.75rem !important; }

.editor h2, .editor h3, .editor h4, .editor h5, .editor h6 {
  margin-bottom: 10px; }

.editor p {
  margin-bottom: 20px; }

.editor h1 {
  color: #041620; }

.editor h3 {
  color: #2894bc; }

.editor img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px; }

.block-editor {
  position: relative; }

.block-shadow {
  position: absolute;
  width: 100%;
  bottom: 0; }

.block-shadow:after {
  content: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#fff), color-stop(0.2, #fff), to(rgba(255, 255, 255, 0)));
  display: block;
  height: 55px; }

.footer-links {
  width: 25%;
  padding-left: 5%; }

@media only screen and (max-width: 1024px) {
  .footer-links {
    width: 30%; } }

@media only screen and (max-width: 767px) {
  .footer-links {
    width: 100%; } }

.footer-links .store-links {
  margin-right: 0; }

@media only screen and (max-width: 1024px) {
  .footer-links .store-links > span {
    display: block;
    margin: 0 !important; } }

@media only screen and (max-width: 767px) {
  .footer-links .store-links > span {
    display: inline;
    margin-left: 6px !important; }
  .footer-links .store-links > span:first-child {
    margin-left: 0 !important; } }

.footer-nav {
  width: 75%;
  padding-right: 5%;
  border-right: 1px solid white; }

@media only screen and (max-width: 1024px) {
  .footer-nav {
    width: 70%; } }

@media only screen and (max-width: 767px) {
  .footer-nav {
    width: 100%;
    border: none; } }

.footer-nav nav > ul > li {
  margin-right: 0;
  padding: 0 15px;
  width: 25%;
  float: left; }

@media only screen and (max-width: 1024px) {
  .footer-nav nav > ul > li {
    width: 50%; } }

.footer-nav nav > ul > li:nth-of-type(n+3), .footer-nav nav > ul > li:nth-of-type(n+4) {
  display: block !important; }

@media only screen and (max-width: 1024px) {
  .footer-nav nav > ul > li:nth-of-type(n+3), .footer-nav nav > ul > li:nth-of-type(n+4) {
    margin-top: 20px; } }

.footer-nav nav ul:after {
  content: "";
  display: block;
  clear: both; }

* {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=map/main.css.map */
